<div class="flex">

    <div class="child w-64 border-r-2 border-gray-700">
      
       <div class="border-b-2 border-gray-300 flex justify-center items-center py-2 font-medium">
        Entrolled Courses
       </div>

       <div 
       class="p-1 px-2 border-b py-2 hover:bg-gray-300" 
       *ngFor="let course of user?.entrolledCourses"
       [ngClass]="{'bg-gray-200' :course.courseId === selectedCourse?.courseId}"
       (click)="courseSelected(course)"
       >
        {{course.title}}
       </div>

    </div>

    <div class="child w-full">
        <div class="flex items-center justify-center text-lg py-3 font-medium border-b-2">
          {{selectedCourse?.title}}
        </div>
        <div class="flex justify-end">
          <div class="flex border-b-2 border-r-2 w-fit border-l-2">
            <div class="border-r-2 py-1 px-3">
              created date
            </div>
            <div class="py-1 px-2">
              12-12-12
            </div>
          </div>

        </div>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Assessment Name</th>
                <th>Date of Assessment</th>
                <th>Time Start</th>
                <th>Time End</th>
                <th>Attempt</th>
                <th>Review</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assessment of candidateAssessment" class="">
                <td>{{assessment.assessmentName}}</td>
                <td>{{assessment.scheduledDetails.assessmentDate | date: 'dd-MM-yyyy'}}</td>
                <td>
                  {{assessment.scheduledDetails.startTime  }}
                </td>
                <td>
                  {{assessment.scheduledDetails.endTime  }}
                </td>
                <td>
                  <button
                  class="bg-green-400 rounded-lg text-white py-1 px-2"
                  [disabled]="!assessment.isActive"
                  [ngClass]="{ 'bg-green-400 hover:bg-green-500' : assessment.isActive , 'bg-green-600' : !assessment.isActive}"
                  (click)="attemptAssessment(assessment.assessmentID)"
                  >
                    Attempt
                  </button>
                </td>
                <td class="">
                  <button
                  (click)="reviewAssessment(assessment.assessmentID)"
                  class="text-blue-600 hover:bg-blue-400 hover:rounded-lg hover:text-white py-1 px-2"
                  >
                    review
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
    </div>

  
</div>



