

<!-- <app-candidate-registration></app-candidate-registration> -->
<!-- <app-candidate-login></app-candidate-login> -->


<!-- team1 app-header -->
<app-header></app-header>
<!-- team3 app-nav -->
<!-- <app-nav-bar2/> -->
<!-- team5 -->
<nav class="navbar border-b-2 border-gray-700">
    <div class="navbar-title">SkillHive</div>
    <div class="flex gap-1 text-white font-medium">
        <ul>
            <li><a routerLink="/course">Course  | </a></li>
        </ul>
        <ul> 
            <li><a routerLink="/schedule"> Schedule </a></li>
        </ul>
    </div>
</nav>

<div class="authContainer">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

