
<div class="containers">
  <h2>Available Instructors</h2>
  <div class="filter">
    <app-filter  (filtersChanged)="onfilterschanged($event)"></app-filter>
  </div>

   @if(loading){
     <div >Loading instructors...</div>
   }


  @if(!loading && instructors.length > 0){
    <table  class="instructor-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Teaching Domain</th>
          <th>Upcoming courses</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Candidate Enrolled</th>
          <th>Instructor Rating</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        @for(instructor of filteredInstructors; track $index){
          <tr>
            <td>T{{ instructor.id }}</td>
            <td>{{ instructor.fullName }}</td>
            <td>{{ instructor.teachingDomain }}</td>
            <td>{{ instructor.upcoming_courses }}</td>
            <td>{{ instructor.start_date }}</td>
            <td>{{ instructor.end_date }}</td>
            <td>{{ instructor.candidateEnrolled }}</td>
            <td>{{ instructor.instructorRating }}/5</td>
            <td>  <button > 📝 </button></td>
          </tr>
        }
      </tbody>
    </table>
  }

  <!-- No data message -->
  @if(!loading && instructors.length === 0){
    <div >
      <p>No instructors available.</p>
    </div>
  }

</div>
