<div class="container">

    <div class="header">
      <h2>Available Instructor</h2>
    </div>


    <table class="List of applicants">
      <thead >
        <tr class="table-heading">
          <th>Instructor Name</th>
          <th>Designation</th>
          <th>Upcoming Courses</th>
          <th>Start Date</th>
          <th>Candidate Enrolled</th>
          <th>Instructor Rating</th>
        </tr>
      </thead>
      <tbody>
        @for(instructor of instructors; track $index){
            <tr >
              <td>{{ instructor.name }}</td>
              <td>{{ instructor.designation }}</td>
              <td>{{ instructor.course }}</td>
              <td>{{ instructor.startDate }}</td>
              <td>{{ instructor.enrolled }}</td>
              <td>{{ instructor.rating }}</td>
            </tr>
        }
      </tbody>
    </table>
  

    <button class="add-new-btn">+ Add New</button>
  
    <footer>
      <div class="footer-container">
      </div>
    </footer>
  </div>
  
