<footer class="footer-container">
    <div class="footer-section">
      <h3 class="footer-title">SkillHive</h3>
      <p>&copy; 2024 - 2025</p>
      



    </div>
  
    <div class="footer-section">
      <h3 class="footer-title">Community</h3>
      <ul class="footer-list">
        <li><a href="#" class="footer-link">Learner</a></li>
        <li><a href="#" class="footer-link">Partners</a></li>
        <li><a href="#" class="footer-link">Developer</a></li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3 class="footer-title">Courses</h3>
      <ul class="footer-list">
        <li><a href="#" class="footer-link">JAVA Full Stack</a></li>
        <li><a href="#" class="footer-link">Angular Full Stack</a></li>
        <li><a href="#" class="footer-link">Artificial Intelligence</a></li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3 class="footer-title">Admin Contact</h3>
      <p>Phone: +91</p>
      <a href="mailto:skillhive&#64;gmail.com" class="footer-link">skillhive&#64;gmail.com</a>


    </div>
  </footer>
  