.header {
  background-color: white;
  padding: 5px 15px;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  h2 {
    margin: 0px 12px 0px 6px;
    color: #18ac38;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .headerBtn {
    background-color: #20b486;
    color: #ffffff;
    height: 30px;
    margin: 0px 5px;
    padding: 0px 8px;
  }

  .headerLinks {
    padding: 0px 8px;
    font-size: 1rem;
    font-weight: 400;

    a, a:active,  a:visited, a:hover{
      text-decoration: none;
      color: black;
    }
  }
}
