.container-instructor-form {
    font-family: katibeh;
    max-width: 90%;;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;  
  }
  
  h2 { margin-bottom: 10px;}
  
  p{ margin-bottom: 20px; }
  
  form {
    display: grid;
  grid-template-columns: repeat(2, 1fr);  /* Creates two equal-width columns */
  gap: 20px; 
    padding: 20px;
    border:none;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 13px;
    color: rgb(112, 112, 112);
  }
  
  .form-group input,
  .form-group select {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  

  
  button.btn {    
    width: 25%;
    height: 55%;
    padding: 6px;
    background: #9C4DF4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 70%;
    margin-top: 3%;
  }
  
  button.btn:hover {
    background: #792ece;
  }


  