/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-error {
  width: 400px !important;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
