<div class="newsletter-section">
    <div class="side-images">
      <img src="assets/images/person1.jpeg" alt="User 1" class="circle-img top-left">
      <img src="assets/images/person3.jpeg" alt="User 2" class="circle-img middle-left">
      <img src="assets/images/person 2.jpg" alt="User 3" class="circle-img bottom-left">
      <img src="assets/images/person4.png" alt="User 4" class="circle-img top-right">
      <img src="assets/images/person6.jpeg" alt="User 5" class="circle-img middle-right">
      <img src="assets/images/person5.jpeg" alt="User 6" class="circle-img bottom-right">
    </div>
    <div class="newsletter-content">
      <h2>Subscribe to Get Updates on Every New Course</h2>
      <p>20k+ students daily learn with SkillHive. Subscribe for new courses.</p>
      <div class="newsletter-form">
        <input type="email" [(ngModel)]="email" placeholder="Enter your email">
        <button (click)="subscribe()">Subscribe</button>
      </div>
    </div>
  </div>