* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background:seashell;
    
    background-image: 
        linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%), 
        linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%);
    background-size: 30px 30px; /* Mesh grid size */}

.update-profile {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000; /* Violet for headings */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 1em;
    font-weight: 600;
    color: #000; 
    text-align: left;
}

.user-img{
    width: 200px;height: 200px;background-size: contain;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    background: #fff;
    color: #000; 
}
input:focus, select:focus {
    border-color: #7A3BB7; 
    outline: none;
    box-shadow: 0 0 5px rgba(122, 59, 183, 0.3);
}

button {
    padding: 15px;
    background-color: #9C4DF4; 
    color: #FFFFFF; 
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9C4DF4; }

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 0.85em;
    text-align: left;
}

.success {
    color: green;
    font-size: 0.85em;
    text-align: left;
}

.error-message, .success-message {
    font-size: 0.85em;
    margin-top: 5px;
}

p {
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center;
    color: black; 
}

a {
    color: #7A3BB7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #7A3BB7; 
}

.toggle-password:hover {
    color: #5A2D90; 
}


input[readonly] {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ccc;   /* Border styling */
    color: #666;             /* Text color */
    cursor: not-allowed;     /* Change cursor to indicate non-editable */
  }
  