h1{
    margin: 0px;
}

.dialogContent {
    padding: 0px 25px;

  .recoverForm {
    mat-form-field {
      width: 100%;
    }

    ::ng-deep {
      .mat-mdc-text-field-wrapper {
        border-radius: 8px;
        background-color: white;
        border: 1px solid #d4d4d4;
      }

      .mdc-line-ripple::after {
        border-bottom-color: black;
      }
    }
  }
}

.matActions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 25px;

  .submitBtn {
    color: #ffffff;
    background: #20dc49;
    border: 1px solid #3bf64d;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
    outline-color: transparent;
    height: 32px;
  }

  .submitBtn:disabled {
    background-color: #bff5bc;
  }
}
