<app-header></app-header>
<div class="homeContainer">
  <div class="tagLine">
    <h2>
      Up Your <span>Skills</span> <br />To <span>Advance</span> Your <br />
      <span>Career</span> Path
    </h2>
    <button class="getStartedBtn" (click)="getStarted()">Get Started</button>
    <div class="additionalFeatures">
      <div class="additionalFeature">
        <img src="../../../../assets/images/Speak.png"/>
        <p>Public Speaking</p>
      </div>
      <div class="additionalFeature">
        <img src="../../../../assets/images/Briefcase.png"/>
        <p>Career-Oriented</p>
      </div>
      <div class="additionalFeature">
        <img src="../../../../assets/images/idea.svg"/>
        <p>Creative Thinking</p>
      </div>
    </div>
  </div>
  <div class="studentImageContainer">
    <div class="tutorsImg"><img src="../../../../assets/images/01.png" /></div>
    <div class="onlineCoursesImg"><img src="../../../../assets/images/02.png" /></div>
    <div class="videoCourseIng"><img src="../../../../assets/images/03.png" /></div>
    <div class="studentImage">
      <img src="../../../../assets/images/Mask group.png" height="475px" />
    </div>
  </div>
</div>

<div class="popularCoursesContainer">
  <div class="courseContainerHeading">
    <h3>Explore Programs</h3>
    <h1>Our Most Popular Class</h1>
    <p>
      Let's join our famous class, the knowledge provided will definitely be
      useful for you.
    </p>
  </div>
  <div class="popularCourses">
    <div class="popularCourse">
      <div class="courseImg">
        <img src="../../../../assets/images/Image.png" height="240px" width="336px" />
      </div>
      <div class="courseText">
        <h3>Design</h3>
        <div class="courseName">
          <h1>Figma UI UX Design..</h1>
          <img src="../../../../assets/images/Icon wrap.png" />
        </div>
        <p>
          Use Figma to get a job in UI Design, User <br />Interface, User
          Experience design.<br /><img
            src="../../../../assets/images/rating.png"
            width="184px"
            height="17px"
          />
        </p>
        <div class="instructor">
          <img
            src="../../../../assets/images/Avatar label group.png"
            width="142px"
            height="40px"
          />
          <h2>$17.84</h2>
        </div>
      </div>
    </div>
    <div class="popularCourse">
      <div class="courseImg">
        <img
          src="../../../../assets/images/Image (1).png"
          height="240px"
          width="336px"
        />
      </div>
      <div class="courseText">
        <h3>Design</h3>
        <div class="courseName">
          <h1>Figma UI UX Design..</h1>
          <img src="../../../../assets/images/Icon wrap.png" />
        </div>
        <p>
          Use Figma to get a job in UI Design, User <br />Interface, User
          Experience design.<br />
          <img
            src="../../../../assets/images/rating (1).png"
            width="184px"
            height="17px"
          />
        </p>
        <div class="instructor">
          <img
            src="../../../../assets/images/Avatar label group (1).png"
            width="142px"
            height="40px"
          />
          <h2>$17.84</h2>
        </div>
      </div>
    </div>
    <div class="popularCourse">
      <div class="courseImg">
        <img
          src="../../../../assets/images/Image (2).png"
          height="240px"
          width="336px"
        />
      </div>
      <div class="courseText">
        <h3>Design</h3>
        <div class="courseName">
          <h1>Figma UI UX Design..</h1>
          <img src="../../../../assets/images/Icon wrap.png" />
        </div>
        <p>
          Use Figma to get a job in UI Design, User <br />Interface, User
          Experience design.<br />
          <img
            src="../../../../assets/images/rating (2).png"
            width="184px"
            height="17px"
          />
        </p>
        <div class="instructor">
          <img
            src="../../../../assets/images/Avatar label group (2).png"
            width="142px"
            height="40px"
          />
          <h2>$17.84</h2>
        </div>
      </div>
    </div>
  </div>
  <button class="moreCoursesBtn">Explore All Programs</button>
</div>
<app-footer></app-footer>
